.navigation {
  position: relative;
  background-color: $basic-color;
}

.navigation__list {
  margin: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 54px 0 31px;
  border-bottom: 1px solid $text-additional-color;
  box-sizing: border-box;

  a {
    @include link;
  }
}

.navigation__burger {
  display: none;
}

@media ($tablet-widths-max) {
  .navigation__list {
    flex-direction: column;
    align-items: start;
    display: flex;
    height: 100vh;


    &--close {
      display: none;
    }

    &--nojs {
      display: flex;
      height: auto;
    }
  }

  .navigation__item {
    a {
      font-size: 34px;
      line-height: 42px;
    }
  }

  .navigation__burger {
    display: block;
    justify-self: end;
    position: absolute;
    right: 0;
    top: 54px;
    width: 33px;
    height: 22px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    border-radius: 0;
    box-sizing: border-box;
    padding: 10px;
    z-index: 100;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 33px;
      height: 4px;
      border-radius: 1px;
      background-color: $text-color;
      box-shadow: 0 6px 0 0 $text-color, 0 12px 0 0 $text-color;
    }

    &--nojs {
      display: none;
    }
  }
}
