// Version
$mobile-widths-only: "max-width: 767px";
$tablet-widths-max: "max-width: 1023px";
$desktop-widths: "min-width: 1024px";
$retina: "min-resolution: 2dppx";

// Fonts
$font: "Gilroy", "Arial", sans-serif;

// color
$basic-color: #ffffff;
$text-color: #000000;
$blocks-color: #f6f6f6;
$text-additional-color: #828282;
